
.container{
    background: linear-gradient(45deg, #11468F, #ffffff, #11468F, #11468F);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.link{
    text-decoration: none;
}

.btn{
    background-color: #ffffff00;
    border: none;
    margin-left: 18rem;
    margin-top: 1rem;
    width: 20vw;
    font-size: 1.2rem;
    text-shadow: 4px 2px 2px #000000;
    color: #ffffff;
    cursor: pointer;
}

.section{
    background-color: #ffffff99;
    width: 90vw;
    height: 80vh;
    border-radius: 3rem;
    margin: auto;
    box-shadow: 5px 5px 4px #000000;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.txt{
    color:#FDA65D;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 2px 2px #000000;
}


@media screen and (min-width:473px ){
    .btn{
        background-color: #ffffff00;
        border: none;
        margin-left: 52rem;
        margin-top: 1rem;
        width: 20vw;
        font-size: 1.2rem;
        text-shadow: 4px 2px 2px #000000;
        color: #ffffff;
        cursor: pointer;
    }
    .section{
        background-color: #00000099;
        width: 50vw;
        height: 80vh;
        border-radius: 3rem;
        margin: auto;
        box-shadow: 5px 5px 4px #ffffff99;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

}