



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.name{
    font-size: 1.8rem;
    color:#FDA65D;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 2px 2px #000000;

}

.temp{
    font-size: 6rem;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    z-index: 999;
    color: #ffffff99;
    text-shadow: 4px 2px 2px #000000;

}
.Stemp{
    display: flex;
    margin: auto;
    font-weight: bold;
    
}
.Stemp :nth-child(2){
    color: #ffffff99;
    text-shadow: 4px 2px 2px #000000;


}
.btn{
    background: linear-gradient(0deg, white, blue, blue, white,white);
    background-position: center;
    background-size: 100% 100px;
    transition: all .9s;
    width: 8rem;
    height: 2rem;
    justify-self: center;
    border-radius: 2rem;
    cursor: pointer;
    color: #ffffff;
    border: none;
    box-shadow: 4px 4px 2px #000000;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 995;
    margin-bottom: 3rem;
  
}

.btn:hover{
    background-position: 0 50px;
    transition: all .9s;
    box-shadow: -4px 4px 2px #000000;

  
}



.img{
    z-index: 999;
    width: 200px;
    height: 200px;
}

.descrip{
    z-index: 997;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 4px 2px 2px #000000;
    color: #ffffff;
    

}

